@import url("tailwind.css");
@import url("typography.css");
@import url("highlight.css");
@import url("components/cards.css");
@import url("components/steps.css");
@import url("components/search.css");
@import url("components/sidebar.css");
@import url("components/navbar.css");
@import url("components/scrollbar.css");
@import url("components/code-copy.css");
@import url("components/hextra/feature-grid.css");

html {
  @apply hx-text-base hx-antialiased;
  font-feature-settings:
    "rlig" 1,
    "calt" 1,
    "ss01" 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply hx-w-full hx-bg-white dark:hx-bg-dark dark:hx-text-gray-100;
}

:root {
  --primary-hue: 212deg;
  --primary-saturation: 100%;
  --navbar-height: 4rem;
  --menu-height: 3.75rem;
}

.dark {
  --primary-hue: 204deg;
  --primary-saturation: 100%;
}
